# Ignore Wordpress (unless you want it)
/wordpress/*

# Must include Wordpress configuration
!/wordpress/wp-config.php

# Ignore PHP
/php/*

# Must include php.ini configuration
!/php/php.ini

# Ignore nginx
/nginx-1.27.4/*

# Must include website configuration

# Ignore Log files
*.log